{% extends 'base.html.twig' %}

{% block body %}
    <div class="ribs-container about body-block-space">
        <div class="row">
            <div class="cxs-12">
                <h2>A propos</h2>
            </div>
        </div>

        <div class="row">
            <div class="cxs-12 cmd-8">
                <img src="{{ asset('images/about/lorraine-longuet-graphiste.jpg') }}" alt="Lorraine Longuet, graphiste">
            </div>
            <div class="cxs-12 cmd-4">
                <img src="{{ asset('images/about/lorraine-longuet-travail.jpg') }}" alt="travail de Lorraine Longuet">
            </div>
        </div>
        <div class="row">
            <div class="cxs-12 cmd-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, error fugiat fugit maiores neque nesciunt nobis numquam obcaecati placeat porro repellat rerum sapiente tempore? Ad deserunt doloremque non quibusdam voluptates.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
