{% extends 'base.html.twig' %}

{% block body %}
    <div class="ribs-container projects">
        <div class="row">
            {% for i in 1..7 %}
                <div class="csm-12 cmd-4 block">
                    <img src="{{ asset('images/accueil/0'~i~'.jpg') }}" alt="image {{ i }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}