{% extends 'base.html.twig' %}

{% block body %}
    <div class="ribs-container projects body-block-space">
        <div class="row center-xs start-lg">
            {% for project in projects %}
                <div class="cxs-11 cmd-6 clg-4 block">
                    <a href="{{ path('project', {'id': project.id}) }}">
                    <div class="bg-image" {% if images[project.id] is defined %}style="background-image: url({{ images[project.id] }})"{% endif %}></div>

                    <div class="bg-text">
                        <h3>{{ project.title }}</h3>
                        <div class="border"></div>
                        <p>{{ project.description }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
