nav {
	float: right;
	margin-top: 1rem;
	
	@media all and #{$media-mobile} {
		margin-top: 0;
		
		&.ribs-nav.mobile .ribs-nav-close-icon {
			right: -42px;
			min-width: inherit;
			width: inherit;
			max-width: inherit;
		}
	}
	
	li {
		text-transform: uppercase;
		padding: 10px;
		font-weight: bold;
		margin: 0 10px;
	}
}

.clear {
	clear: both;
}