.project {
	.images {
		> div {
			margin-bottom: 1.875rem;
		}
	}
	
	h2, h3 {
		margin-bottom: 0.3rem;
		font-weight: bold;
	}
	
	h2 {
		font-size: 1.5rem;
	}
	
	h3 {
		font-size: 1.2rem;
	}
	
	h4 {
		margin-bottom: 1rem;
	}
	
	p {
		line-height: 1.5;
	}
}
