$media-mobile: "(max-width: 576px)";

$header_background: #000000;
$header_color_title: #ffffff;
$header_background_h3: #ffffff;
$header_color_h3: #000000;

$projects-background-text: rgba(0,0,0, 0.4);
$projects-color-text: #ffffff;
$projects-color-border: #ffffff;

$contact-form-input-background: #f6f6f6;
